.nav {
  position: fixed;
  bottom: 100%;
  width: ;
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
}
